<h1>{{ title }}</h1>
<app-navbar>
  
</app-navbar>
<form>
  <input type="text" placeholder="add details" #tache />

  <button type="button" class="btn btn-primary" (click)="ajoutTache(tache.value)">Add</button>
  
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
    <label class="form-check-label" for="exampleCheck1">Do coding challenges</label>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
    <label class="form-check-label" for="exampleCheck1">Do coding challenges</label>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
    <label class="form-check-label" for="exampleCheck1">Do coding challenges</label>
  </div>
  <br />
  <br />

  <ul *ngFor="let item of list">
    <li>
      {{ item.name
      }}<button (click)="supprimerTache(item.id)">Supprimer la tâche</button>
    </li>
  </ul>
</form>
<br />

<!--
<form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
  <input type="text" name="firstName" ngModel required/>
  <input type="text" name="lastName" ngModel required/>
  <button type="submit">Envoie</button>

</form> 
-->